In [1]:
library(gsheet)
library(dplyr)
library(tidyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [7]:
#LOADING REGIONAL
out_integrum_r <- readRDS("out_integrum_regional.rds")
fit_integrum_r <- readRDS("STMreg30.rds")
integrumLocal <- read.csv("data/processed/integrum_local.csv",stringsAsFactor = F)

In [5]:
#LOADING FEDERAL
out_integrum <- readRDS("out_integrum_federal.rds")
fit_integrum <- readRDS("STMfed30.rds")
integrum <- read.csv("data/processed/integrum_federal.csv",stringsAsFactor = F)

In [39]:
#LOADING YLE
yle <- read.csv("data/processed/yle_fi_lemmas.csv",stringsAsFactor = F)
out_yle <- readRDS("out_yle1.rds")
fit_yle <- readRDS("STMyle301.rds")

In [187]:
#LOADING CITIES
citiesDoc <- "https://docs.google.com/spreadsheets/d/1N8I6XUgmMdYK8X8eMUBiJcjBRQ1fvLgJVuYepxVTbdw/edit#gid=2143069428"
citiesYleUrl <- construct_download_url(citiesDoc, format = "csv", sheetid = "0")
YleRuCities <- gsheet2tbl(citiesYleUrl)
citiesIntegrumUrl <- construct_download_url(citiesDoc, format = "csv", sheetid = "2143069428")
IntegrumFiCities <- gsheet2tbl(citiesIntegrumUrl)

In [137]:
saveRDS(IntegrumFiCities,"IntegrumFiCities")

In [95]:
#PROCESSING FEDERAL

intFedLong <- integrum %>% select(id,lemmas_content) %>% 
    mutate(tokensLong = strsplit(lemmas_content, "\', \'")) %>% 
    unnest(tokensLong) %>% select(id,tokensLong)

In [96]:
intFedLong <- intFedLong %>% mutate(tokensLong = tolower(tokensLong)) 
#IntegrumFiCities <- IntegrumFiCities  %>%  mutate(Ru = tolower(Ru))

In [97]:
idCities <- intFedLong %>% left_join(IntegrumFiCities %>% select(Ru) %>% mutate(N = 1), by = c("tokensLong" = "Ru"))

In [98]:
#HERE
idCities <- idCities  %>% filter(N==1)

In [99]:
#idCities %>% group_by(tokensLong) %>% mutate(CitN = n()) %>% 
#    select(tokensLong, CitN) %>%  distinct() %>% arrange(-CitN)

   tokensLong CitN
1  хельсинки  2831
2  лахти       361
3  тампере     315
4  турку       260
5  сало        196
6  куусамо      98
7  рованиеми    94
8  куопио       74
9  котка        63
10 эспоо        49
11 вантаа       44
12 порвоо       31
13 ханко        29
14 иматра       26
15 нокиа        22
16 кеми         20
17 йоэнсуу      19
18 торнио       12
19 раума         8
20 коккола       8
21 лоймаа        6
22 кухмо         5
23 керава        4
24 варкаус       3
25 оулайнен      2
26 ярвенпяа      1
27 хювинкяа      1
28 икаалинен     1
29 райсио        1
30 расеборг      1
31 каарина       1
32 акаа          1

In [41]:
integrumLocal %>% colnames()

 [1] "id"              "date"            "MediaDetail"     "MediaShort"
 [5] "headline"        "content"         "lemmas_headline" "lemmas_content"
 [9] "tokens_content"  "tokens_headline" "year"

In [30]:
#Processing Regional#
intIdTokLongLOCAL <- integrumLocal %>% select(id,tokens_content) %>% 
    mutate(tokensLong = strsplit(tokens_content, "\', \'")) %>% 
    unnest(tokensLong) %>% select(id,tokensLong)

In [79]:
#intIdTokLongLOCAL <- intIdTokLongLOCAL %>% mutate(tokensLong = tolower(tokensLong))

In [33]:
idCitiesLOCAL <- intIdTokLongLOCAL %>% left_join(IntegrumFiCities %>% select(Ru) %>% mutate(N = 1), by = c("tokensLong" = "Ru"))

In [35]:
idCitiesLOCAL <- idCitiesLOCAL  %>% filter(N==1)

In [44]:
#lemmas local
intIdTokLongLOCAL_L <- integrumLocal %>% select(id,lemmas_content) %>% 
    mutate(tokensLong = strsplit(lemmas_content, "\', \'")) %>% 
    unnest(tokensLong) %>% select(id,tokensLong)

In [55]:
intIdTokLongLOCAL_L <- intIdTokLongLOCAL_L %>% mutate(tokensLong = tolower(tokensLong)) 
IntegrumFiCities <- IntegrumFiCities  %>%  mutate(Ru = tolower(Ru))

In [66]:
idCitiesLOCAL_L <- intIdTokLongLOCAL_L %>% left_join(IntegrumFiCities %>% select(Ru) %>% mutate(N = 1), 
                                                     by = c("tokensLong" = "Ru"))
#idCitiesLOCAL_L <- idCitiesLOCAL_L  %>% filter(N==1)

In [67]:
idCitiesLOCAL_L <- idCitiesLOCAL_L  %>% filter(N==1)
idCitiesLOCAL_L %>% group_by(tokensLong) %>% summarise(CitN = n()) %>% arrange(-CitN)

   tokensLong  CitN
1  хельсинки   5647
2  турку       1011
3  йоэнсуу      714
4  котка        608
5  тампере      470
6  лахти        428
7  иматра       400
8  кеми         238
9  куопио       198
10 сало         170
11 ханко        156
12 эспоо        145
13 варкаус      127
14 вантаа       123
15 рованиеми    121
16 порвоо       118
17 куусамо      107
18 кухмо        107
19 нокиа         63
20 раума         39
21 пюхяярви      18
22 нурмес        16
23 коккола       15
24 лохья         11
25 торнио        11
26 керава         9
27 каарина        6
28 лайтила        6
29 лоймаа         6
30 каскинен       5
31 кемиярви       5
32 райсио         5
33 валкеакоски    3
34 каухава        3
35 паймио         3
36 сомеро         3
37 хамина         3
38 эхтяри         3
39 алаярви        2
40 ийсалми        2
41 кауниайнен     2
42 киурувеси      2
43 ориматтила     2
44 пудасъярви     2
45 акаа           1
46 вааса          1
47 китеэ          1
48 лапуа          1
49 оулайнен       1
50 расеборг       1
51 састамала      1
52 ярвенпяа       1

In [147]:
#idCities, idCitiesLOCAL_L 
yle %>% str

'data.frame':	68472 obs. of  6 variables:
 $ X             : int  0 1 2 3 4 5 6 7 8 9 ...
 $ headline      : chr  "Kaukasian konflikti: Aseissa Georgia ja Venäjän tukemat Etelä-Ossetia ja Abhasia" "Otteita Venäjän-tuntijoiden vastauksista" "Etelä-Ossetian ruutitynnyri räjähti viimein" "Yle Uutiset seuraa Ukrainan kriisiä hetki hetkeltä" ...
 $ content       : chr  "Kaukasian konflikti: Aseissa Georgia ja Venäjän tukemat Etelä-Ossetia ja Abhasia\n\nKaukasiassa Georgian ja sii"| __truncated__ "Otteita Venäjän-tuntijoiden vastauksista\n\nTähän tiivistelmään on koottu otteita asiantuntijoiden vastauksista"| __truncated__ "Etelä-Ossetian ruutitynnyri räjähti viimein\n\nPerjantaina 8. elokuuta 2008 pitkään jännittynyt tilanne Georgia"| __truncated__ "Yle Uutiset seuraa Ukrainan kriisiä hetki hetkeltä\n\nVenäjän duuma käsittelee tänään Krimin ja Sevastopolin li"| __truncated__ ...
 $ datePublished : chr  "2008-08-11T11:03:41+0300" "2007-01-14T12:46:58+0200" "2008-08-12T21:33:32+0300" "2014-03-18T09:06:59+0200" ...
 $ lemmas_content: chr  "['kaukasia', 'konflikti', 'ase', 'georg', 'venäjä', 'tukea', 'etelä-ossetia', 'abhasia', 'kaukasia', 'georgia',"| __truncated__ "['ote', 'venäjä', 'vasta', 'tiivistelmä', 'koota', 'ote', 'asia', 'vasta', 'yle', 'uutinen', 'tehdä', 'kysely',"| __truncated__ "['etelä-ossetia', 'ruuti', 'räjähtää', 'viimein', 'perjantai', 'elo', 'pitkä', 'jännittyä', 'tila', 'georgia', "| __truncated__ "['yle', 'uutinen', 'seura', 'ukraina', 'kriisi', 'hetki', 'hetki', 'venäjä', 'duuma', 'käsitellä', 'tänään', 'k"| __truncated__ ...
 $ year          : int  2008 2007 2008 2014 2014 1998 2014 2010 2011 2010 ...

In [148]:
#PREPARING YLE
intIdTokLongYLE <- yle %>% mutate(id = X) %>%  select(id,lemmas_content) %>% 
    mutate(tokensLong = strsplit(lemmas_content, "\', \'")) %>% 
    unnest(tokensLong) %>% select(id,tokensLong)

In [152]:
intIdTokLongYLE <- intIdTokLongYLE %>% mutate(tokensLong = tolower(tokensLong))

In [188]:
YleRuCities <- YleRuCities %>% mutate(Fi3 = Fi) %>% 
gather(Var,NameVars,Fi1:Fi3) %>% filter(!is.na(NameVars)) %>%  
mutate(NameVars = tolower(NameVars))

In [189]:
YleRuCities <- YleRuCities  %>% distinct(Fi,  .keep_all = TRUE)
YleRuCities  %>% str

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	334 obs. of  4 variables:
 $ Fi      : chr  "Nižni Novgorod" "Tšeljabinsk" "Voronež" "Toljatti" ...
 $ Ru      : chr  "Нижний Новгород" "Челябинск" "Воронеж" "Тольятти" ...
 $ Var     : chr  "Fi1" "Fi1" "Fi1" "Fi1" ...
 $ NameVars: chr  "nizhni novgorod" "tsheljabinsk" "voronezh" "togliatti" ...

In [190]:
idCitiesYLE <- intIdTokLongYLE %>% left_join(YleRuCities  %>% select(NameVars,Fi) %>% mutate(N = 1), 
                                                     by = c("tokensLong" = "NameVars"))
idCitiesYLE <- idCitiesYLE  %>% filter(N==1)

In [184]:
 idCitiesYLE%>% str

'data.frame':	46230 obs. of  4 variables:
 $ id        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ tokensLong: chr  "vladimir" "vladimir" "moskova" "moskova" ...
 $ Fi        : chr  "Vladimir" "Vladimir" "Moskova" "Moskova" ...
 $ N         : num  1 1 1 1 1 1 1 1 1 1 ...

In [85]:
#Regional places with topics####
integrumRegIdTopics  <- cbind(out_integrum_r$meta$id,fit_integrum_r$theta)

In [86]:
integrumRegIdTopics <- integrumRegIdTopics %>% data.frame  
colnames(integrumRegIdTopics) <- c("id",paste(rep("Topic",ncol(fit_integrum_r$theta)),1:ncol(fit_integrum_r$theta),sep=""))

In [87]:
integrumRegIdTopics <- integrumRegIdTopics %>% gather(Topic,TopicProportion,Topic1:Topic30)

In [88]:
intRegTopicIdCity <- integrumRegIdTopics  %>% left_join(idCitiesLOCAL_L) %>%  
    filter(!is.na(tokensLong))

Joining, by = "id"

In [89]:
intRegTopicIdCity %>% head

  id    Topic  TopicProportion tokensLong N
1 25382 Topic1 0.0026570957    иматра     1
2 25385 Topic1 0.0023704656    хельсинки  1
3 25387 Topic1 0.0015690365    порвоо     1
4 25396 Topic1 0.0023495828    хельсинки  1
5 25410 Topic1 0.0006593437    хельсинки  1
6 25417 Topic1 0.0166599444    порвоо     1

In [90]:
#Saving Workspaces
save.image("PlacesAndTopics.RData")

In [92]:
#Federal places with topics####
integrumFedIdTopics  <- cbind(out_integrum$meta$id,fit_integrum$theta)

In [93]:
integrumFedIdTopics <- integrumFedIdTopics %>% data.frame  
colnames(integrumFedIdTopics) <- c("id",paste(rep("Topic",ncol(fit_integrum$theta)),1:ncol(fit_integrum$theta),sep=""))

In [94]:
integrumFedIdTopics <- integrumFedIdTopics %>% gather(Topic,TopicProportion,Topic1:Topic30)

In [100]:
#HERE
intFedTopicIdCity <- integrumFedIdTopics  %>% left_join(idCities) %>%  
    filter(!is.na(tokensLong))

Joining, by = "id"

In [ ]:
#intRegTopicIdCity intFedTopicIdCity

In [160]:
#YLE places with topics####
YleIdTopics  <- cbind(out_yle$meta$V1,fit_yle$theta)

In [161]:
YleIdTopics <- YleIdTopics %>% data.frame(stringsAsFactors = F)  
colnames(YleIdTopics) <- c("id",paste(rep("Topic",ncol(fit_yle$theta)),1:ncol(fit_yle$theta),sep=""))

In [162]:
YleIdTopics <- YleIdTopics %>% gather(Topic,TopicProportion,Topic1:Topic30)

In [165]:
YleIdTopics %>% str
YleTopicIdCity %>% str
idCitiesYLE %>% str
idCities %>% str

'data.frame':	2054160 obs. of  3 variables:
 $ id             : chr  "0" "1" "2" "3" ...
 $ Topic          : chr  "Topic1" "Topic1" "Topic1" "Topic1" ...
 $ TopicProportion: chr  "6.4256634169303e-06" "0.000773097950448955" "5.59777698681329e-05" "3.41857773114519e-05" ...
'data.frame':	1386900 obs. of  6 variables:
 $ id             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ Topic          : chr  "Topic1" "Topic1" "Topic1" "Topic1" ...
 $ TopicProportion: chr  "6.4256634169303e-06" "6.4256634169303e-06" "6.4256634169303e-06" "6.4256634169303e-06" ...
 $ tokensLong     : chr  "vladimir" "vladimir" "moskova" "moskova" ...
 $ Fi             : chr  "Vladimir" "Vladimir" "Moskova" "Moskova" ...
 $ N              : num  1 1 1 1 1 1 1 1 1 1 ...
'data.frame':	46230 obs. of  4 variables:
 $ id        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ tokensLong: chr  "vladimir" "vladimir" "moskova" "moskova" ...
 $ Fi        : chr  "Vladimir" "Vladimir" "Moskova" "Moskova" ...
 $ N         : num  1 1 1 1 1 1 1 1 1 1 ...
'data.frame':	4587 obs. of  3 variables:
 $ id        : int  5 7 7 10 17 17 20 26 26 26 ...
 $ tokensLong: chr  "котка" "хельсинки" "хельсинки" "хельсинки" ...
 $ N         : num  1 1 1 1 1 1 1 1 1 1 ...

In [191]:
YleTopicIdCity <- YleIdTopics %>% mutate(id = as.numeric(id))  %>% left_join(idCitiesYLE) %>%  
    filter(!is.na(tokensLong))

Joining, by = "id"

In [192]:
YleTopicIdCity <- YleTopicIdCity %>% mutate(tokensLong = Fi)

In [196]:


YleTopicIdCity  <- YleTopicIdCity %>% left_join(YleRuCities %>% select(Fi,Ru))

'data.frame':	1372770 obs. of  6 variables:
 $ id             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ Topic          : chr  "Topic1" "Topic1" "Topic1" "Topic1" ...
 $ TopicProportion: chr  "6.4256634169303e-06" "6.4256634169303e-06" "6.4256634169303e-06" "6.4256634169303e-06" ...
 $ tokensLong     : chr  "Vladimir" "Vladimir" "Moskova" "Moskova" ...
 $ Fi             : chr  "Vladimir" "Vladimir" "Moskova" "Moskova" ...
 $ N              : num  1 1 1 1 1 1 1 1 1 1 ...

Joining, by = "Fi"

In [199]:
YleTopicIdCity %>% head
intFedTopicIdCity %>% head
intRegTopicIdCity  %>% head
YleTopicIdCity %>% str

  id Topic  TopicProportion     tokensLong Fi       N Ru
1 0  Topic1 6.4256634169303e-06 Vladimir   Vladimir 1 Владимир
2 0  Topic1 6.4256634169303e-06 Vladimir   Vladimir 1 Владимир
3 0  Topic1 6.4256634169303e-06 Moskova    Moskova  1 Москва
4 0  Topic1 6.4256634169303e-06 Moskova    Moskova  1 Москва
5 0  Topic1 6.4256634169303e-06 Moskova    Moskova  1 Москва
6 0  Topic1 6.4256634169303e-06 Moskova    Moskova  1 Москва

  id Topic  TopicProportion tokensLong N
1  5 Topic1 0.0028760743    котка      1
2  7 Topic1 0.0003939653    хельсинки  1
3  7 Topic1 0.0003939653    хельсинки  1
4 10 Topic1 0.0004470051    хельсинки  1
5 17 Topic1 0.0006850523    хельсинки  1
6 17 Topic1 0.0006850523    хельсинки  1

  id    Topic  TopicProportion tokensLong N
1 25382 Topic1 0.0026570957    иматра     1
2 25385 Topic1 0.0023704656    хельсинки  1
3 25387 Topic1 0.0015690365    порвоо     1
4 25396 Topic1 0.0023495828    хельсинки  1
5 25410 Topic1 0.0006593437    хельсинки  1
6 25417 Topic1 0.0166599444    порвоо     1

'data.frame':	1372770 obs. of  7 variables:
 $ id             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ Topic          : chr  "Topic1" "Topic1" "Topic1" "Topic1" ...
 $ TopicProportion: chr  "6.4256634169303e-06" "6.4256634169303e-06" "6.4256634169303e-06" "6.4256634169303e-06" ...
 $ tokensLong     : chr  "Vladimir" "Vladimir" "Moskova" "Moskova" ...
 $ Fi             : chr  "Vladimir" "Vladimir" "Moskova" "Moskova" ...
 $ N              : num  1 1 1 1 1 1 1 1 1 1 ...
 $ Ru             : chr  "Владимир" "Владимир" "Москва" "Москва" ...

In [200]:
saveRDS(YleTopicIdCity,"YleTopicIdCity1")
#saveRDS(intFedTopicIdCity,"intFedTopicIdCity")
#saveRDS(intRegTopicIdCity,"intRegTopicIdCity ")

In [203]:
TopicNums <- c(1:3,6,9,11,16,24,26,29)
TopicNames <- paste(rep("Topic",length(TopicNums)),TopicNums,sep="")
TopicNames

 [1] "Topic1"  "Topic2"  "Topic3"  "Topic6"  "Topic9"  "Topic11" "Topic16"
 [8] "Topic24" "Topic26" "Topic29"

In [170]:
table(yle$year)

1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
   2  294 1557  489 1188 1616 1640 2012 2005 2764 3159 4592 6818 6565 5091 6228
2013 2014 2015 2016 2017
7791 7875 4570 1965  251

In [206]:
intRegTopicIdCity %>% filter(Topic %in% TopicNames) %>% summarise(n_distinct(id))

  n_distinct(id)
1 5472

In [207]:
 GivenTopicCities <-intRegTopicIdCity %>% filter(Topic %in% TopicNames) %>% 
    filter(TopicProportion > 0.3)   %>% mutate(city = tokensLong) %>% select(-tokensLong)

In [162]:
 
#GivenTopicCities %>% group_by(id,city) %>% summarise(n())

    id    city       n()
1   28265 хельсинки  1
2   28524 рованиеми  1
3   28524 хельсинки  2
4   28603 миккели    1
5   28866 тампере    1
6   28884 тампере    1
7   29019 сало       2
8   29037 сало       2
9   29044 сало       2
10  29370 пори       1
11  29541 рованиеми  1
12  30439 тампере    2
13  30511 куопио     1
14  30598 тампере    1
15  30634 тампере    1
16  30891 сейняйоки  1
17  30891 хельсинки  1
18  30913 хельсинки  1
19  30914 вантаа     2
20  30914 йоэнсуу    2
21  30914 пори       3
22  30914 турку      1
23  30914 хельсинки  6
24  31198 лахти      1
25  31199 лахти      2
26  31205 лахти      2
27  31222 лахти      2
28  31241 лахти      2
29  31557 хельсинки  1
30  31883 хельсинки  1
⋮   ⋮     ⋮          ⋮
439 59190 хельсинки  6
440 59220 лахти      1
441 59330 кеми       1
442 59330 куопио     1
443 59330 кухмо      1
444 59330 лахти      1
445 59330 пюхяярви   1
446 59330 турку      1
447 59330 хельсинки  2
448 59330 ярвенпяа   1
449 59337 хельсинки  2
450 59598 лахти      2
451 59598 турку      1
452 59598 хельсинки  3
453 59652 хельсинки  1
454 59714 лахти      1
455 59763 лахти      1
456 59767 лахти      1
457 59959 хельсинки  3
458 60328 хельсинки  1
459 60363 савонлинна 1
460 60479 хельсинки  1
461 60721 лахти      3
462 60721 хельсинки  1
463 60838 турку      4
464 60987 оулу       1
465 60996 хельсинки  1
466 61219 хельсинки  1
467 61346 кухмо      2
468 61353 кухмо      2

In [208]:
GivenTopicCities %>% group_by(city) %>% summarise(CityFreq = n_distinct(id)) %>% 
arrange(-CityFreq)

   city         CityFreq
1  хельсинки    453
2  турку         69
3  котка         53
4  оулу          49
5  порвоо        27
6  тампере       25
7  йоэнсуу       24
8  кеми          20
9  лахти         19
10 эспоо         18
11 иматра        15
12 хамина        15
13 куопио        13
14 вантаа        12
15 ханко         12
16 нокиа         11
17 коувола       10
18 миккели        8
19 рованиеми      8
20 савонлинна     8
21 сало           7
22 вааса          5
23 куусамо        5
24 кухмо          5
25 лайтила        5
26 раахе          5
27 керава         4
28 коккола        3
29 раума          3
30 уусикаупунки   3
31 варкаус        2
32 курикка        2
33 мариехамн      2
34 наантали       2
35 пюхяярви       2
36 алаярви        1
37 валкеакоски    1
38 каскинен       1
39 лохья          1
40 оривеси        1
41 оутокумпу      1
42 пиетарсаари    1
43 пори           1
44 райсио         1
45 рийхимяки      1
46 сейняйоки      1
47 сомеро         1
48 суоненйоки     1
49 хаапавеси      1
50 хейнола        1

In [213]:
GivenTopicCities %>% head

  id    Topic  TopicProportion N city      Fi        year
1 25718 Topic1 0.3076581       1 рованиеми Rovaniemi 2001
2 25718 Topic1 0.3076581       1 рованиеми Rovaniemi 2001
3 25762 Topic1 0.3203050       1 хельсинки Helsinki  2001
4 26130 Topic1 0.4259062       1 хельсинки Helsinki  2001
5 26684 Topic1 0.3149951       1 хельсинки Helsinki  1997
6 26850 Topic1 0.3630076       1 хельсинки Helsinki  1998

In [210]:
 GivenTopicCities <-  GivenTopicCities %>% left_join(IntegrumFiCities %>% mutate(Ru = tolower(Ru)), by = c("city" = "Ru"))

In [212]:
 GivenTopicCities <- GivenTopicCities %>% left_join(integrumLocal  %>% select(id,year))

Joining, by = "id"

In [192]:
periods <- list(c(1997,2001),c(2002,2006),c(2007,2011),c(2012,2017))

In [214]:
  GivenTopicCities <- GivenTopicCities %>% mutate(periods = cut(year,breaks = c(1990,1996,2001,2006,2011,2017)))

In [232]:
GivenTopicCities %>% group_by(Fi,periods) %>% summarise(CityFreq = n_distinct(id)) %>% 
arrange(Fi,periods)

    Fi           periods     CityFreq
1   Alajärvi     (2011,2017]   1
2   Espoo        (1996,2001]   4
3   Espoo        (2001,2006]   1
4   Espoo        (2006,2011]   7
5   Espoo        (2011,2017]   6
6   Haapavesi    (2006,2011]   1
7   Hamina       (1996,2001]   2
8   Hamina       (2001,2006]   4
9   Hamina       (2006,2011]   8
10  Hamina       (2011,2017]   1
11  Hanko        (2001,2006]   3
12  Hanko        (2006,2011]   9
13  Heinola      (1996,2001]   1
14  Helsinki     (1990,1996]   2
15  Helsinki     (1996,2001]  96
16  Helsinki     (2001,2006] 108
17  Helsinki     (2006,2011] 147
18  Helsinki     (2011,2017] 100
19  Imatra       (1996,2001]   3
20  Imatra       (2001,2006]   4
21  Imatra       (2006,2011]   7
22  Imatra       (2011,2017]   1
23  Joensuu      (1996,2001]   1
24  Joensuu      (2001,2006]   5
25  Joensuu      (2006,2011]   7
26  Joensuu      (2011,2017]  11
27  Kaskinen     (2006,2011]   1
28  Kemi         (1996,2001]   5
29  Kemi         (2001,2006]   4
30  Kemi         (2006,2011]   5
⋮   ⋮            ⋮           ⋮
95  Salo         (1996,2001]  2
96  Salo         (2001,2006]  1
97  Salo         (2006,2011]  4
98  Savonlinna   (1990,1996]  1
99  Savonlinna   (1996,2001]  2
100 Savonlinna   (2001,2006]  1
101 Savonlinna   (2006,2011]  1
102 Savonlinna   (2011,2017]  3
103 Seinäjoki    (2011,2017]  1
104 Somero       (1996,2001]  1
105 Suonenjoki   (1996,2001]  1
106 Tampere      (1996,2001]  4
107 Tampere      (2001,2006]  4
108 Tampere      (2006,2011] 11
109 Tampere      (2011,2017]  6
110 Turku        (1990,1996]  2
111 Turku        (1996,2001] 12
112 Turku        (2001,2006] 21
113 Turku        (2006,2011] 17
114 Turku        (2011,2017] 17
115 Uusikaupunki (1990,1996]  1
116 Uusikaupunki (2006,2011]  2
117 Vaasa        (2001,2006]  1
118 Vaasa        (2006,2011]  4
119 Valkeakoski  (2006,2011]  1
120 Vantaa       (1996,2001]  3
121 Vantaa       (2001,2006]  3
122 Vantaa       (2006,2011]  3
123 Vantaa       (2011,2017]  3
124 Varkaus      (2001,2006]  2

In [219]:
EconomyCitiesPeriodsRegion1 <- GivenTopicCities %>% group_by(Fi,periods) %>% summarise(CityFreq = n_distinct(id)) %>% 
arrange(Fi,periods)

In [229]:
FiveYperiods <- sort(unique(EconomyCitiesPeriodsRegion1$periods))

In [136]:
Sys.time()

[1] "2018-05-31 13:15:13 UTC"

In [269]:
EconomyCitiesPeriodsRegion1 %>% arrange(Fi,periods) %>% filter(Fi=="Turku")

  Fi    periods     CityFreq
1 Turku (1990,1996]  2
2 Turku (1996,2001] 12
3 Turku (2001,2006] 21
4 Turku (2006,2011] 17
5 Turku (2011,2017] 17

In [260]:
for(i in 1:length(FiveYperiods))
    {
    filenam <-  file.path("Places",paste("EconomyCitiesRegIn",FiveYperiods[i],".csv",sep=""))
   write.csv(EconomyCitiesPeriodsRegion1 %>% filter(periods==FiveYperiods[i]),file = filenam, row.names = F,
          col.names = F)
    }

Warning message in write.csv(EconomyCitiesPeriodsRegion1 %>% filter(periods == FiveYperiods[i]), :
“attempt to set 'col.names' ignored”Warning message in write.csv(EconomyCitiesPeriodsRegion1 %>% filter(periods == FiveYperiods[i]), :
“attempt to set 'col.names' ignored”Warning message in write.csv(EconomyCitiesPeriodsRegion1 %>% filter(periods == FiveYperiods[i]), :
“attempt to set 'col.names' ignored”Warning message in write.csv(EconomyCitiesPeriodsRegion1 %>% filter(periods == FiveYperiods[i]), :
“attempt to set 'col.names' ignored”Warning message in write.csv(EconomyCitiesPeriodsRegion1 %>% filter(periods == FiveYperiods[i]), :
“attempt to set 'col.names' ignored”

In [235]:
 paste("EconomyCitiesRegIn",FiveYperiods[1])

[1] "EconomyCitiesRegIn (1990,1996]"

In [256]:
i = 1

In [258]:
file.path("Places",paste("EconomyCitiesRegIn",FiveYperiods[i],".csv",sep=""))

[1] "Places/EconomyCitiesRegIn(1990,1996].csv"

In [273]:
library("ggmap")

Loading required package: ggplot2